@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap');

body{
    background: #eaeaea; 
    font-family: 'Rajdhani', sans-serif;
  }
.container {
    display: block;
    background-color: #dbbf1d;
}
  form{
    background: #dbbf1d;
    margin: 100px auto;
    padding: 15px 40px 40px 40px;
    width: 70%;
  }
  
 

  